<!-- footer -->

<div class="footer">
    <div class="grid wide footer__content">
        <div class="row">
            <div class="col l-2-4 m-4 c-6 ">
                <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Trung Tâm Trợ Giúp</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Hướng Dẫn Mua Hàng</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Hướng Dẫn Bán Hàng</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Thanh Toán</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Chăm Sóc Khách Hàng</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Chính Sách Bảo Hành</a>
                        
                    </li>
                </ul>
            </div>
            <div class="col l-2-4 m-4 c-6 ">
                <h3 class="footer__heading">Về LODUstore</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Giới Thiệu Về Cửa Hàng</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Tuyển Dụng</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Điều Khoản</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Chính Sách Bảo Mật</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Liên Hệ Với Truyền Thông</a>                                
                    </li>
                </ul>
            </div>
            <div class="col l-2-4 m-4 c-6 ">
                <h3 class="footer__heading">Thanh toán</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">VISA</a>                               
                    </li>
                </ul>
            </div>
            <div class="col l-2-4 m-4 c-6 ">
                <h3 class="footer__heading">Theo dõi chúng tôi</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">
                           
                            <i class="footer-item__icon fa-brands fa-facebook"></i>
                            Facebook
                        </a>
                    </li>
                    <li class="footer-item">                               
                        <a href="" class="footer-item__link">
                            
                            <i class="footer-item__icon fa-brands fa-instagram-square"></i>
                            Instagram
                        </a>
                    </li>
                    <li class="footer-item">                               
                        <a href="" class="footer-item__link">
                            <i class="footer-item__icon fa-brands fa-linkedin"></i>
                            Linkedin
                            
                        </a>                               
                    </li>
                </ul>

            </div>
            <div class="col l-2-4 m-8 c-12 ">
                <h3 class="footer__heading">Tải ứng dụng LODUstore ngay thôi</h3>
                <div class="footer__download">
                    <img src="./assets/img/qr_code.png" alt="QR Download" class="footer__download-qr">
                    <div class="footer__download-apps">
                        <a href="" class="footer__download-app-link">
                            <img src="./assets/img/google_play.png" alt="" class="footer__download-app-img">
                        </a>
                        <a href="" class="footer__download-app-link">
                            <img src="./assets/img/app_store.png" alt="" class="footer__download-app-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="grid wide">
            <p class="footer__text">© 2022 - Bản quyền thuộc về lovandu</p>
            
        </div>
    </div>

</div>