
{% extends 'homepage/base.html' %}
{% load static %}
<!-- html -->
{% block cssblock %}
<link rel="stylesheet" href="{% static 'css/base.css'%}">
<link rel="stylesheet" href="{% static 'css/main.css'%}">
<link rel="stylesheet" href="{% static 'css/grid.css'%}">
<link rel="stylesheet" href="{% static 'css/responsive.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" 
integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="{% static 'fonts/fontawesome-free-6.1.1-web/css/all.min.css'%}">
{% endblock cssblock %}
    <!-- Block (block--Element) (block__Modifier) -->
{% block content %}
    <div class="app">
        <!-- header -->

        <div class="app__container">
            <div class="grid wide">
                <div class="row sm-gutter app__content ">
                    <div class="col l-2 m-0 c-0">
                        <nav class="category">
                            <h3 class="category__heading">
                                <i class="category__heading-icon fa-solid fa-list"></i>
                                Danh Mục
                            </h3>
            
                            <ul class="category-list">
                                <li class="category-item category-item--active">
                                    <a href="#" class="category-item__link">Tất cả sản phẩm</a>
                                </li>
                                <li class="category-item">
                                    <a href="#" class="category-item__link">Laptop</a>
                                </li>
                                <li class="category-item">
                                    <a href="#" class="category-item__link">Mobile Phone</a>
                                </li>
                                <li class="category-item">
                                    <a href="#" class="category-item__link">Clothes</a>
                                </li>
                                <li class="category-item">
                                    <a href="#" class="category-item__link">Shoes</a>
                                </li>
                                <li class="category-item">
                                    <a href="#" class="category-item__link">Book</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col l-10 m-12 c-12">
                        <div class="home-filter hide-on-moblie-tablet">
                            <span class="home-filter__label">Sắp xếp theo</span>
                            <button class="home-filter__btn btn">Phổ biến</button>
                            <button class="home-filter__btn btn btn--primary">Mới nhất</button>
                            <button class="home-filter__btn btn">Bán chạy</button>

                            <div class="select-input">
                                <span class="select-input__label">Giá</span>
                                <i class="select-input__icon fa-solid fa-chevron-down"></i>
                                
                                <!-- List filter option -->
                                <ul class="select-input__list">
                                    <li class="select-input__item">
                                        <a href="" class="select-input__link">Giá: Thấp đến Cao</a>
                                    </li>
                                    <li class="select-input__item">
                                        <a href="" class="select-input__link">Giá: Cao đến Thấp</a>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="home-filter__page">
                                <span class="home-filter__page-num">
                                    <span class="home-filter__page-current">1</span>/14
                                </span>

                                <div class="home-filter__page-control">
                                    <a href="" class="home-filter__page-icon home-filter__page-btn home-filter__page-btn--disable">
                                        <i class="fa-solid fa-chevron-left"></i>
                                    </a>
                                    <a href="" class="home-filter__page-icon home-filter__page-btn">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <nav class="mobile-category">
                            <ul class="mobile-category__list">
                                <li class="mobile-category__item">
                                    <a href="" class="mobile-category__link">Laptop</a>
                                </li>
                                <li class="mobile-category__item">
                                    <a href="" class="mobile-category__link">Lapto lasjhfa siudbvasjid vhsud sdjfg asudg vhasjd djfgasyudfg hfgasyudgcshd p</a>
                                </li>
                                <li class="mobile-category__item">
                                    <a href="" class="mobile-category__link">Laptop</a>
                                </li>
                                <li class="mobile-category__item">
                                    <a href="" class="mobile-category__link">Laptop</a>
                                </li>
                                <li class="mobile-category__item">
                                    <a href="" class="mobile-category__link">Laptop</a>
                                </li>
                                <li class="mobile-category__item">
                                    <a href="" class="mobile-category__link">Laptop</a>
                                </li>
                                <li class="mobile-category__item">
                                    <a href="" class="mobile-category__link">Laptop</a>
                                </li>
                                <li class="mobile-category__item">
                                    <a href="" class="mobile-category__link">Laptop</a>
                                </li>
                                <li class="mobile-category__item">
                                    <a href="" class="mobile-category__link">Laptop</a>
                                </li>
                                <li class="mobile-category__item">
                                    <a href="" class="mobile-category__link">Laptop</a>
                                </li>
                                <li class="mobile-category__item">
                                    <a href="" class="mobile-category__link">Laptop</a>
                                </li>
                                <li class="mobile-category__item">
                                    <a href="" class="mobile-category__link">Laptop</a>
                                </li>

                            </ul>
                        </nav>

                        <div class="home-product">
                            <!-- Grid ->Row ->Col -->
                            <div class="row sm-gutter">
                                <!-- Product item -->
                                {% for item in product %}
                                    <div class="col l-2-4 m-4 c-6 ">
                                        <a href="" class="home-product-item">
                                            <div class="home-product-item__img" style="background-image:url('{{item.img.url}}')"></div>
                                            <h4 class="home-product-item__name">{{item.title}}</h4>
                                            <div class="home-product-item__price">
                                                <span class="home-product-item__price-old">{{item.price}}</span>
                                                
                                                <span class="home-product-item__price-current">19.999.000đ</span>
                                            </div>
                                            <div class="home-product-item__action">
                                                <span class="home-product-item__like home-product-item__like--liked">
                                                    <i class="home-product-item__like-icon-empty fa-regular fa-heart"></i>
                                                    <i class="home-product-item__like-icon-fill fa-solid fa-heart"></i>
                                                </span>
                                                <div class="home-product-item__rating">
                                                    <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                                    <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                                    <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                                    <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                                <div class="home-product-item__sold">Đã bán 100</div>
                                            </div>
                                            <div class="home-product-item__origin">
                                                <span class="home-product-item__brand">{{item.category.title}}</span>
                                                <span class="home-product-item__address">Hà Nội</span>
                                            </div>
                                            <div class="home-product-item__favourite">
                                                <i class="fa-solid fa-check"></i>
                                                <span>Yêu thích</span>
                                            </div>
                                            <div class="home-product-item__sale-off">
                                                <span class="home-product-item__sale-off-percent">43%</span>
                                                <span class="home-product-item__sale-off-label">GIẢM</span>
                                            </div>
                                        </a>
                                    </div>

                                {% endfor %}


                            </div>
                        </div>

                        <ul class="pagination home-product__pagination">
                            <li class="pagination-item">
                                <a href="" class="pagination-item__link">
                                    <i class="pagination-item__icon fa-solid fa-chevron-left" ></i>
                                </a>
                            </li>
                            <li class="pagination-item pagination-item--active">
                                <a href="" class="pagination-item__link">1</a>
                            </li>
                            <li class="pagination-item">
                                <a href="" class="pagination-item__link">2</a>
                            </li>
                            <li class="pagination-item">
                                <a href="" class="pagination-item__link">3</a>
                            </li>
                            <li class="pagination-item">
                                <a href="" class="pagination-item__link">4</a>
                            </li>
                            <li class="pagination-item">
                                <a href="" class="pagination-item__link">5</a>
                            </li>
                            <li class="pagination-item">
                                <a href="" class="pagination-item__link">...</a>
                            </li>
                            <li class="pagination-item">
                                <a href="" class="pagination-item__link">
                                    <i class="pagination-item__icon fa-solid fa-chevron-right" ></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>


        <!-- footer -->
    </div>
    <div class="modal js-login-modal hide-modal">
        <div class="js-modal-overlayl modal__overlay ">

        </div>
        <div class="modal__body">                
                <!-- Register form -->
            <div class="auth-form  ">
                <div class="auth-form__container">
                    <div class="auth-form__header">
                        <h3 class="auth-form__headinng">Đăng ký</h3>
                        <span class="auth-form__switch-btn">Đăng nhập</span>
                    </div>
                    <div class="auth-form__form">
                        <div class="auth-form__group">
                            <input type="text" class="auth-form_input" placeholder="Email">
                        </div>
                        <div class="auth-form__group">
                            <input type="password" class="auth-form_input" placeholder="Mật khẩu">
                        </div>
                        <div class="auth-form__group">
                            <input type="password" class="auth-form_input" placeholder="Nhập lại mật khẩu">
                        </div>
                    </div>
                

                    <div class="auth-form__aside">
                        <p class="auth-form__policy-text">Bằng việc đăng ký, bạn đã đồng ý với LODUstore về 
                            <a href="" class="auth-form__text-link">Điều khoản dịch vụ</a>
                            &
                            <a href="" class="auth-form__text-link">Chính sách bảo mật</a>
    
                            </p>
                    </div>
    
                    <div class="auth-form__controls">
                        <button class="btn auth-form__controls-back">TRỞ LẠI</button>
                        <button class="btn btn--primary">ĐĂNG KÝ</button>
                    </div>
                </div>
                <div class="auth-form__socials">
                    <a href="" class="auth-form__socials-facebook btn btn--size-s btn--with-icon">
                        <i class="auth-form__socials-icon fa-brands fa-facebook"></i>
                        <span class="auth-form__socials-title">Kết nối với Facebook</span>
                    </a>
                    <a href="" class="auth-form__socials-goodle btn btn--size-s btn--with-icon">
                        <i class="auth-form__socials-icon  fa-brands fa-google"></i>
                        <span class="auth-form__socials-title">Kết nối với Google</span>
                        
                        
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal js-register-modal hide-modal">
        <div class="js-modal-overlayr modal__overlay ">

        </div>
        <div class="modal__body">                

                <!-- Login form -->
            <div class="js-login-modal auth-form ">
                <div class="auth-form__container">
                    <div class="auth-form__header">
                        <h3 class="auth-form__headinng">Đăng nhập</h3>
                        <span class="auth-form__switch-btn">Đăng ký</span>
                    </div>
                    <div class="auth-form__form">
                        <div class="auth-form__group">
                            <input type="text" class="auth-form_input" placeholder="Email">
                        </div>
                        <div class="auth-form__group">
                            <input type="password" class="auth-form_input" placeholder="Mật khẩu">
                        </div>
                        
                    </div>
                

                    <div class="auth-form__aside">
                        <div class="auth-form__help">
                            <a href="" class="auth-form__help-link auth-form__help-forgot">Quên mật khẩu</a>
                            <span class="auth-form__help-separate"></span>
                            <a href="" class="auth-form__help-link ">Cần trợ giúp?</a>
                        </div>
                    </div>
    
                    <div class="auth-form__controls">
                        <button class="btn auth-form__controls-back">TRỞ LẠI</button>
                        <button class="btn btn--primary">ĐĂNG NHẬP</button>
                    </div>
                </div>
                <div class="auth-form__socials">
                    <a href="" class="auth-form__socials-facebook btn btn--size-s btn--with-icon">
                        <i class="auth-form__socials-icon fa-brands fa-facebook"></i>
                        <span class="auth-form__socials-title">Kết nối với Facebook</span>
                    </a>
                    <a href="" class="auth-form__socials-goodle btn btn--size-s btn--with-icon">
                        <i class="auth-form__socials-icon  fa-brands fa-google"></i>
                        <span class="auth-form__socials-title">Kết nối với Google</span>
                        
                        
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block jsblock %}
{% comment %} <script>
    const loginbtn=document.querySelector('.js-login-btn');
    const modal=document.querySelector('.js-login-modal');

    function showModal(){
        modal.classList.remove('hide-modal');
    }
    loginbtn.addEventListener('click', showModal);
</script> {% endcomment %}
<script src="{% static 'js/login_register.js' %}"></script>   
    
{% endblock jsblock %}
</body>
</html>